<div class="login-wrapper" fxLayout="row" >  
        <div class="item" >  
            <img fxFlex="100" src="../../assets/login/login-bg.jpg"/>
        </div>
        <div fxFlex="100" class="example-container">
                <mat-form-field>
                  <!-- <img src="../../assets/login/login-bg.jpg"/> -->
                </mat-form-field>
              
                <mat-form-field>
                  <textarea matInput placeholder="Textarea"></textarea>
                </mat-form-field>
              
                <mat-form-field>
                  <mat-select placeholder="Select">
                    <mat-option value="option" (click)="submit()">Option</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
  </div>
