.container{
    margin: 5%;
    // height: 100vh;
}
.search-icon{
    color:#666666
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height:0px !important;
}
html{
    overflow: hidden;
}
.asset-title{
    // background-color: #00327C;
    // max-height: 30px
}
.bay-det{
    margin-top: -4% !important;
    // color: #FFFFFF;
}
.car-border{
    border: solid 1px #C7C8CA;
    margin-bottom: 6%;
}
.equip{
    background-color: #FFBBB9;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin-top: 0%;
}