<div fxLayout="row wrap">
        <div class="bay-title" *ngFor="let list of fullList" fxFlex="40">
                <div class="bay-info">
                        <div class="bay-section">
                                <div fxLayout="row">
                                        <h4 class="bay-sec-title" fxFlex="90">{{list.bay_id}}</h4>
                                        <h4 *ngIf="enableAdd" class="edit-icon" fxFlex="10" (click)="edit(list)">EDIT</h4>
                                </div>
                        </div>
                </div>
                <div class="bay-card">
                        <mat-card class="asset-title">
                                <mat-card-title class="bay-det" fxLayout="row">
                                        <div fxFlex="75">
                                                <h5 class="asset-org">{{list.origin}}</h5>
                                                <h5 class="asset-no">{{list.arrival_flight_no}}</h5>
                                        </div>
                                        <div fxFlex="25" class="pull-right">
                                                <h5 class="asset-org">{{list.destination}}</h5>
                                                <h5 class="asset-no">{{list.departure_flight_no}}</h5>
                                        </div>
                                </mat-card-title>
                                <div class="car-border"></div>
                                <mat-card-content class="content-class">
                                        <div fxLayout="row" fxLayoutGap="5px">
                                                <h5 fxFlex="25">Baggage Truck</h5>
                                                <div fxFlex="75">
                                                        <div fxLayout="row wrap" fxLayoutGap="5px">
                                                                <h5 *ngFor="let bag of list.name.Baggage"
                                                                        class="equip baggage" fxFlex="25">
                                                                        {{bag.name}}</h5>
                                                        </div>
                                                </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="5px">
                                                <h5 fxFlex="25">Catering</h5>
                                                <div fxFlex="75">
                                                        <div fxLayout="row" fxLayoutGap="20px">
                                                                <h5 *ngFor="let cat of list.name.Catering"
                                                                        class="equip catering" fxFlex="25">
                                                                        {{cat.name}}</h5>

                                                        </div>
                                                </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="5px">
                                                <h5 fxFlex="25">Step Ladder</h5>
                                                <div fxFlex="75">
                                                        <div fxLayout="row" fxLayoutGap="20px">
                                                                <h5 *ngFor="let step of list.name['Step Ladder']"
                                                                        class="equip stepladder" fxFlex="25">
                                                                        {{step.name}}</h5>

                                                        </div>
                                                </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="5px">
                                                <h5 fxFlex="25">Bus</h5>
                                                <div fxFlex="75">
                                                        <div fxLayout="row" fxLayoutGap="20px">
                                                                <h5 *ngFor="let bus of list.name.Bus" class="equip bus"
                                                                        fxFlex="25">
                                                                        {{bus.name}}</h5>
                                                        </div>
                                                </div>
                                        </div>
                                </mat-card-content>
                        </mat-card>
                </div>
        </div>
        <div *ngIf="enableAdd" class="add-butn">
                <button mat-raised-button color="warn" (click)="add()">+</button>
        </div>
</div>