<div fxLayout="row">
        <div fxFlex="75">
            <h2>Edit asset to</h2>
        </div>
        <div fxFlex="25" >
                <h2>Bay     21</h2>
            </div>
</div>
<div fxLayout="row" style="margin-top: 3%;">
    <h4>BAGGAGE TRUCK</h4>
</div>
<div fxLayout="row" fxLayoutGap="20px">
        <h5 fxFlex="20" class="equip" style="background-color: #FF5C5C !important;color:#FFFFFF" fxFlex="25">BT101</h5>
        <h5 fxFlex="20" class="equip" fxFlex="25">BT102</h5> 
        <h5 fxFlex="20" class="equip" fxFlex="25">BT101</h5>
        <h5 fxFlex="20" class="equip" fxFlex="25">BT102</h5>
</div>
<div fxLayout="row">
        <h4>Catering</h4> 
</div> 
<div fxLayout="row" fxLayoutGap="20px">
                <h5 fxFlex="20" class="equip" style="background-color:#000C98;color:#FFFFFF" fxFlex="25">CT101</h5>
                <h5 fxFlex="20" class="equip" style="background-color:#B2B7FF" fxFlex="25">CT102</h5> 
                <h5 fxFlex="20" class="equip" style="background-color:#B2B7FF" fxFlex="25">CT103</h5>                              
    </div>                    
<div fxLayout="row">
        <h4>Step Ladder</h4> 
</div> 
<div fxLayout="row" fxLayoutGap="20px">
                    <h5 class="equip"  style="background-color:#01C122;color:#FFFFFF" fxFlex="25">ST101</h5>
                    <h5 class="equip"  style="background-color:#95E48D" fxFlex="25">ST102</h5>                              
</div>
<div fxLayout="row">
        <h4>Bus</h4> 
</div>
<div fxLayout="row" fxLayoutGap="20px">
                <h5 class="equip"  style="background-color:#171717;color:#FFFFFF" fxFlex="25">BU101</h5>
                <h5 class="equip"  style="background-color:#171717;color:#FFFFFF" fxFlex="25">BU102</h5>
                <h5 class="equip"  style="background-color:#B6B6B6" fxFlex="25">BU103</h5>
</div>  
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px" style="margin-top: 10%;"> 
            <button fxFlex="30" style="border-radius: 20px;
            border: solid 1px #D6D6D6;
            background-color: #FFFFFF !important;color: #D6D6D6;" mat-raised-button (click)="cancel()">CANCEL</button>
    
            <button fxFlex="30" style="border-radius: 20px;
            border: solid 1px #ED2024;
                    color: #FFFFFF; " mat-raised-button color="warn" (click)="edit()">DONE</button>
    

</div>                             
  
