<div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex="40">
            <h2>Edit asset to</h2>
        </div>
        <div class="bays" fxFlex="30">
        {{editRow.bay_id}}
        </div>
</div>
<div *ngIf="noBag || (editRow.name.Baggage.length!=0)" fxLayout="row" class="truck">
    <h4>BAGGAGE TRUCK</h4>
</div>
<div fxLayout="row" fxLayoutGap="20px">
        <div  fxFlex="50">
        <div fxLayout="row" *ngFor="let bag of editRow.name.Baggage">
                        <button *ngIf="noBag || bag.type=='Baggage'" Class="bag_equip" fxFlex="25" >{{bag.name}}</button>

        </div>
        <button [ngClass]="{'bag_equip': bagSel, 'bag_default': !bagSel}" *ngFor="let bag of baggage" fxFlex="25" (click)="bagSelect(bag);">{{bag}}</button></div>
</div>

<div *ngIf="noCat || (editRow.name.Catering.length!=0)" fxLayout="row">
        <h4>Catering</h4> 
</div> 
<div fxLayout="row" fxLayoutGap="20px">
                <div  fxFlex="50">
                <div fxLayout="row" *ngFor="let cat of editRow.name.Catering">
                                <button *ngIf="noCat || cat.type=='Catering'" Class="cat_equip" fxFlex="25" >{{cat.name}}</button>
        
                </div>
                <button [ngClass]="{'cat_equip': catSel, 'cat_default': !catSel}" *ngFor="let cat of catering" fxFlex="25" (click)="catSelect(cat);">{{cat}}</button></div>
</div>

<div *ngIf="noLad || (editRow.name['Step Ladder'].length!=0)" fxLayout="row">
        <h4>Step Ladder</h4> 
</div> 
<div fxLayout="row" fxLayoutGap="20px">
        <div  fxFlex="50">
        <div fxLayout="row" *ngFor="let lad of editRow.name['Step Ladder']">
                        <button *ngIf="noLad || lad.type=='Step Ladder'" Class="lad_equip" fxFlex="25" >{{lad.name}}</button>

        </div>
        <button [ngClass]="{'lad_equip': ladSel, 'lad_default': !ladSel}" *ngFor="let lad of ladder" fxFlex="25" (click)="ladSelect(lad);">{{lad}}</button>                        
</div>
</div>
<div *ngIf="noBus || (editRow.name.Bus.length!=0)" fxLayout="row">
        <h4>Bus</h4> 
</div>
<div fxLayout="row" fxLayoutGap="20px">
                <div  fxFlex="50">
                <div fxLayout="row" *ngFor="let bus of editRow.name.Bus">
                                <button *ngIf="noBus || bus.type=='Bus'" Class="bus_equip" fxFlex="25" >{{bus.name}}</button>
        
                </div>
                <button [ngClass]="{'bus_equip': busSel, 'bus_default': !busSel}" *ngFor="let bus of buses" fxFlex="25" (click)="busSelect(bus);">{{bus}}</button>                        
        </div>
        </div>
<!-- <div fxLayout="row" fxLayoutGap="20px">
                <button *ngIf="editRow.name=='Bus'" Class="bus_equip" fxFlex="25" >{{editRow.name}}</button>
        <button [ngClass]="{'bus_equip': busSel, 'bus_default': !busSel}" *ngFor="let bus of buses" fxFlex="25" (click)="busSelect(bus);">{{bus}}</button>
</div>   -->
<div fxLayout="row" class="act-btn" fxLayoutAlign="center" fxLayoutGap="40px"> 
            <button fxFlex="30" class="cancel-btn" mat-raised-button (click)="cancel()">CANCEL</button>
    
            <button fxFlex="30" class="add-btn" mat-raised-button color="warn" (click)="done()">Done</button>
    

</div>                         
  
