.bays{
    margin: 12px 0px 0px 77px !important;
    font-weight: 800 !important;
}
.truck{
    margin-top: 3%;
    }
    .bag_equip{
        background-color: #FF5C5C;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none;
        color:#FFFFFF;
        outline: none !important;
    }
    .bag_default{
        background-color: #FFBBB9;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none; 
    }
    .cat_equip{
        background-color: #000C98;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none;
        color:#FFFFFF;
        outline: none !important;
    }
    .cat_default{
        background-color: #B2B7FF;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none; 
    }
    .lad_equip{
        background-color: #01C122;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none;
        color:#FFFFFF;
        outline: none !important;
    }
    .lad_default{
        background-color: #95E48D;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none; 
    }
    .bus_equip{
        background-color: #171717;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none;
        color:#FFFFFF;
        outline: none !important;
    }
    .bus_default{
        background-color: #B6B6B6;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 0%;
        border:none; 
    }
    
    .act-btn{
        margin-top: 10%;
    }
    .cancel-btn{
        border-radius: 20px;
        border: solid 1px #D6D6D6;
        background-color: #FFFFFF !important;color: #D6D6D6;
    }
    .add-btn{
        border-radius: 20px;
        border: solid 1px #ED2024;
        color: #FFFFFF; 
    }
    
    .select-mat-op{
        font-size: 19px;
        font-weight: 800;
        border-radius: 9px;
        border: solid 1px #919191 !important;
    }
    .mat-normal-option{
        font-size: initial !important;
    }
    .mat-select-trigger{
        margin-top: 6%;
        margin-left: 30%;
    }