<div class="dashboard-area">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="mstyles" [center]="center" [mapTypeId]="roadmap"
        [streetViewControl]="false" [disableDefaultUI]="false" [zoomControl]="false">

        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.iconUrl"
            [label]="{color: '#000000',fontWeight: 'bold',fontSize:'2',text: m.label}" [markerDraggable]="false">
            <agm-info-window #infoWindow>
                <strong>{{m.label}}</strong>
            </agm-info-window>
        </agm-marker>

        <agm-marker *ngFor="let m of assetMarkers; let i = index"  [iconUrl]="m.iconUrl"
            [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="false">
            <agm-info-window>

                <strong>{{m.label}}</strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>
    <div *ngIf="!showEquip" class="equip-details" fxLayout='row'>
        <div><img src="/assets/dashboard/baggage.svg" class="fh-img" alt="Baggage" />Baggage Truck</div>
        <div><img src="/assets/dashboard/catering.svg" class="fh-img" alt="Catering" />Catering</div>
        <div><img src="/assets/dashboard/stepladder.svg" class="fh-img" alt="Step Ladder" />Step Ladder</div>
        <div><img src="/assets/dashboard/bus.svg" class="fh-img" alt="Bus" />Bus</div>
    </div>
    <div class="flight-card" *ngIf="showEquip">
        <div class="flight-title">
            <div class="bay-no">BAY 21</div>
            <mat-icon class="close" (click)="closeModal()">close</mat-icon>
        </div>
        <mat-card class="flight-details">
            <div fxLayout="row wrap">
                <div class="left" fxFlex="42">
                    <div class="source">DEL</div>
                    <div class="flt-no">SG608</div>
                    <div class="details">STA: 13:00 <span>ATA:13:15</span></div>
                </div>
                <div fxFlex="6">
                </div>
                <div class="right" fxFlex="42">
                    <div class="source">DEL</div>
                    <div class="flt-no">SG608</div>
                    <div class="details">STA: 13:00 <span>ATA:13:15</span></div>
                </div>
                <div fxFlex="90">
                    <div class="turn-details">
                        Turn time left : 12 mins
                    </div>
                </div>
                <div class="equip-detail" fxLayout='row'>
                    <div><img src="/assets/dashboard/baggage.svg" class="fh-img" alt="Baggage" />Baggage Truck</div>
                    <div><img src="/assets/dashboard/catering.svg" class="fh-img" alt="Catering" />Catering</div>
                    <div><img src="/assets/dashboard/stepladder.svg" class="fh-img" alt="Step Ladder" />Step Ladder
                    </div>
                    <div><img src="/assets/dashboard/bus.svg" class="fh-img" alt="Bus" />Bus</div>
                </div>
            </div>
        </mat-card>
    </div>
</div>