.truck{
margin-top: 3%;
}
.catering{
    background-color:#B2B7FF;
}
.ladder{
    background-color:#95E48D
}
.act-btn{
    margin-top: 10%;
}
.cancel-btn{
    border-radius: 20px;
    border: solid 1px #D6D6D6;
    background-color: #FFFFFF !important;color: #D6D6D6;
}
.add-btn{
    border-radius: 20px;
    border: solid 1px #ED2024;
    color: #FFFFFF; 
}
.bay-drop{
    border-radius: 9px;
    border: solid 1px #919191 !important;
    height: 45px;
    margin-top: 1%;
}
.bay-margin{
    margin: 12px 0px 0px 10px;
}
.bay-label{
    color: #919191;
    font-weight: 700;
}
.mat-select-arrow{
    visibility: hidden;
}