<div class="insights-area" fxLayout="row">
    <div class="top-content" fxFlex="30">
        <div class="top-title">
            TODAY
        </div>
        <div class="top-sub">
            TOTAL ASSETS
        </div>
        <div class="top-cont">
            {{totalEquip}}
        </div>
        <mat-divider class="divider">
        </mat-divider>
        <div  class="assets-list" fxLayout="row wrap">
            <div fxFlex="50" *ngFor="let m of equipDetails"> 
                <div class="asset-grid" >
                    <img class="icon" [src]="m.icon"/>
                    <div>{{m.name}}</div>
                    <div class="asset-count">{{m.count}}</div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="70">
        <div fxLayout="row wrap">
            <div class="insight-card" fxFlex="100">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartsLabels" [legend]="lineChartLegend"
                    [options]="departmentChartOptions" [colors]="lineChartColors" [chartType]="lineChartType">
                </canvas>
            </div>
            <div class="insight-card" fxFlex="100">
                <div class="usage-title">USAGE BY EQUIPMENT</div>
                <div class="equip-list" *ngFor="let v of equipUsage" fxLayout="row">
                    <img fxFlex="20" [src]="v.icon" />
                    <progress-bar class="equips" fxFlex="80" [progress]="v.total" [color]="'#4285F4'">
                    </progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>