<div class="insights-area" fxLayout="row">
    <div class="top-content" fxFlex="30">
        <div class="top-title">
            LAST 7 DAYS
        </div>
        <div class="top-sub">
            TOTAL ASSETS
        </div>
        <div class="top-cont">
            16
        </div>
        <mat-divider class="divider">
        </mat-divider>
        <div class="assets-list" fxLayout="row wrap">
            <div class="asset-grid" fxFlex="50">
                <img class="icon" src="assets/insights/truck.svg" />
                <div>BAGGAGE TRUCK</div>
                <div class="asset-count">7</div>
            </div>
            <div class="asset-grid" fxFlex="50">
                <img class="icon" src="assets/insights/catering.svg" />
                <div>CATERING</div>
                <div class="asset-count">2</div>
            </div>
            <div class="asset-grid" fxFlex="50">
                <img class="icon" src="assets/insights/truck1.svg" />
                <div>BUS</div>
                <div class="asset-count">4</div>
            </div>
            <div class="asset-grid" fxFlex="50">
                <img class="icon" src="assets/insights/stepladder.svg" />
                <div>STEP LADDER</div>
                <div class="asset-count">1</div>
            </div>
        </div>
    </div>
    <div fxFlex="70">
        <div fxLayout="row wrap">
            <div>

            </div>
        </div>
    </div>
</div>